<div class="row"
  *ngIf="!hidden === true">
    <ul class="list-group"
      *ngFor="let item of weather.list | slice:0:5; let i=index">
      <li class="list-group-item">
        <div class="">
          <p class="date-time">{{ convertDate(item.dt) }}<br/>
            {{ convertTime(item.dt) }}</p>
          <p>Icon: {{ item.weather.icon }}<br/>
          Conditions: {{ item.weather[0].main }}<br/>
          Expected: {{ item.main.temp }}°C<br/>
          Humidity: {{ item.main.humidity }}%<br/>
          Pressure: {{ round(item.main.pressure) }} kPa<br/>
          Wind: {{ item.wind.speed }} m/s {{ windDirection(item.wind.deg) }}<br/>
        </div>
      </li>
    </ul>
</div>
