<div class="row"
  *ngIf="!hidden === true">
    <ul class="list-group"
      *ngFor="let item of weather.list | slice:0:5; let i=index">
      <li class="list-group-item">
        <div class="">
          <p>{{ convertDate(item.dt) }}</p>
          <p>{{ convertTime(item.dt) }}</p>
          <p>Current: {{ item.main.temp }}°C</p>
          <p>Low: {{ item.main.temp_min }}°C</p>
          <p>High: {{ item.main.temp_max }}°C</p>
          <p>Pressure: {{ round(item.main.pressure) }} kPa</p>
        </div>
      </li>
    </ul>
</div>
