<form [formGroup]="searchForm" >
  <h3>Search by:</h3>
  <div class="form-row">
    <input type="text"
      class= "form-control col"
      placeholder="City"
      formControlName="city">
      <br />
    <button class="btn btn-primary"
      type="button"
      (click)='getCity()'
      >Search</button>
  </div>
    <h3 class="or">Or</h3>
  <div class="form-row">
    <input type="text"
      class= "form-control col"
      placeholder="Longitutde"
      formControlName="lon">
    <br />
    <input type="text"
      class= "form-control col"
      placeholder="Latitude"
      formControlName="lat">
    <br />
    <button class="btn btn-primary"
      type="button"
      (ngSubmit)='getLonLat()'
      >Search</button>
  </div>
</form>
